$color_1: rgba(64, 64, 64, 0.5);
$thermal-color: rgba(167, 101, 102, 0.6);
$acoustic-color: rgba(132, 151, 131, 0.6);
$visual-color: rgba(236, 203, 123, 0.6);
$air-color: rgba(196, 211, 224, 0.6);
$primary-color: #ff9724;
$transparent-color: transparent;
$lightgrey: lightgrey;